@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        @apply overflow-scroll bg-fixed bg-gradient-to-bl from-dblue via-dblue to-orange text-black;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }

    h1 {
        font-family: 'JetBrains Mono', monospace;
        font-weight: 700;
    }

    th {
        font-family: 'JetBrains Mono', monospace;
        font-weight: 700;
    }

    /* disable scrollbar for Chrome */
    body::-webkit-scrollbar {
        display: none;
    }
}
